<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="src" value ="\\wft.root.loc\us\SJP01-Groups3\POShared\QA\WellFlo Software\WellFlo 6.0 Software"/>
    <add key="dst" value="U:\Quality Analysis\QA Team Backup\WellFlo\1.Wellflo Builds\6.0"/>
  </appSettings>
</configuration>